<!--
 * @Author: Hale
 * @Description: 垂直居中
 * @Date: 2019/01/31
 * @LastEditTime: 2020/08/06
 -->

<style>
  /* 公共样式 */
  .parent {
    width: 400px;
    height: 80px;
    border: 1px solid #f00;
  }
  .child {
    width: 200px;
    height: 40px;
    border: 2px solid #0f0;
  }

  /* 表格布局 table-cell + vertical-align */
  /* 内联元素 inline + vertical-align */
  .parent1 {
    /* display: table-cell; */
    display: inline;
    vertical-align: middle;
  }

  /* 父元素弹性布局 flex + align-items */
  .parent2 {
    display: flex;
    align-items: center;
  }

  /* 单行文字垂直居中 行高 = 高度 */
  .child3 {
    width: 200px;
    line-height: 40px;
  }

  /* 绝对定位 absolute + translate */
  .parent4 {
    position: relative;
  }
  .child4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /* 网格布局 grid + align-self */
  .parent5 {
    display: grid;
  }
  .child5 {
    align-self: center;
  }
</style>
<div class="parent parent1"><div class="child child1">Demo1</div></div>
<hr />
<div class="parent parent2"><div class="child child2">Demo2</div></div>
<hr />
<div class="parent parent3">
  <div class="child child3">Demo3 - 单行文字垂直居中</div>
</div>
<hr />
<div class="parent parent4"><div class="child child4">Demo4</div></div>
<hr />
<div class="parent parent5"><div class="child child5">Demo5</div></div>
