<!--
 * @Author: Hale
 * @Description: 水平垂直居中
 * @Date: 2019/01/31
 * @LastEditTime: 2019/10/17
 -->

<style>
  /* 公共样式 */
  .parent {
    width: 400px;
    height: 80px;
    border: 1px solid #f00;
  }
  .child {
    width: 200px;
    height: 40px;
    border: 2px solid #0f0;
  }

  /* table-cell + text-align + vertical-align + inline-block */
  .parent1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .child1 {
    display: inline-block;
  }

  /* 父元素弹性布局 flex + justify-content + align-items */
  .parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 单行文字水平垂直居中 行高 = 高度 + text-align */
  .child3 {
    width: 200px;
    line-height: 40px;
    text-align: center;
  }

  /* 绝对定位 absolute + translate */
  .parent4 {
    position: relative;
    /*   height:100%; */
    height: 100px;
  }
  .child4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* 网格布局 grid + justify-self + align-self */
  .parent5 {
    display: grid;
  }
  .child5 {
    justify-self: center;
    align-self: center;
  }

  /* 弹性布局 */
  .parent6 {
    display: flex;
  }
  .child6 {
    margin: auto;
  }

  /* 伪元素 */
  .parent7 {
    font-size: 0;
    text-align: center;
  }
  .parent7::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  .child7 {
    display: inline-block;
    vertical-align: middle;
  }
</style>
<section>
  <div class="parent parent1"><div class="child child1">Demo1</div></div>
  <hr />
  <div class="parent parent2"><div class="child child2">Demo2</div></div>
  <hr />
  <div class="parent parent3">
    <div class="child child3">Demo3 - 单行文字</div>
  </div>
  <hr />
  <div class="parent parent4"><div class="child child4">Demo4</div></div>
  <hr />
  <div class="parent parent5"><div class="child child5">Demo5</div></div>
  <hr />
  <div class="parent parent6"><div class="child child6">Demo6</div></div>
  <hr />
  <div class="parent parent7">
    <div class="child child7">Demo7- 看不到内容</div>
  </div>
</section>
